body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #0045ba, #ff0000, #cfcfcf);
    background-size: auto;
    background-position: center;
    animation: gradientAnimation 10s ease infinite;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #ff0000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.search-bar input[type="text"] {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    margin-right: 5px;
}

.search-bar button[type="submit"] {
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    color: #000000;
    cursor: pointer;
}

.user-actions {
    display: flex;
    align-items: center;
}

.upload-button {
    background-color: #ff0000;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    color: #FFFFFF;
    margin-right: 5px;
    cursor: pointer;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

nav {
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

main {
    display: flex;
    align-items: flex-start;
}

.video-thumbnail {
    position: relative;
    width: 320px;
    height: 180px;
    overflow: hidden;
    border-radius: 4px;
}

.video-thumbnail img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 2px;
}

.video-info {
    margin-left: 20px;
}

.title {
    font-size: 18px;
    margin-bottom: 5px;
}

.author {
    font-size: 14px;
    color: #606060;
    margin-bottom: 5px;
}

.views {
    font-size: 14px;
    color: #606060;
    margin-bottom: 5px;
}

.description {
    font-size: 14px;
    color: #000000;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 auto;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-actions a {
    background-color: #ff0000;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    color: #FFFFFF;
    margin-right: 5px;
    cursor: pointer;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}