<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD YourSpace</title>
    <link rel="stylesheet" href="/public/login.css">
</head>

<body>
    {%with mensajes= get_flashed_messages() %}
    {%if mensajes%}
    {%for msj in mensajes%}
    <h1 class="alert">{{ msj }}</h1>
    {%endfor%}
    {%endif%}
    {%endwith%}

    <div class="container">
        <h1 class="title">Login</h1>
        <form action="/ingresar" method="POST">
            <div class="form-group">
                <label for="username">User:</label>
                <input type="text" id="username" name="username" placeholder="Username">
            </div><br>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div><br>
            <button type="submit" class="btn-submit">Iniciar</button><br><br>
        </form>
        <div class="register-link">
            <p>¿No tienes una cuenta? <li><a href="{{ url_for('registros') }}">Registrarse</a></li>
            </p>
        </div>
    </div>

</body>

</html>